build/
imgui.ini
settings.ini
.vscode/
CMakeSettings.json
out/
.vs/

## Visual Studio artifacts
.vs
ipch
*.opensdf
*.log
*.pdb
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters

# Helix specific
bin/
bin-int/